# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Testing
lib-cov
.grunt
bower_components
.lock-wscript

# Compiled binary addons
build/
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript
*.tsbuildinfo

# Caches
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.cache
.parcel-cache

# Output of 'npm pack'
*.tgz

# Yarn & lockfiles
.yarn-integrity
yarn.lock
pnpm-lock.yaml
package-lock.json

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDEs and Editors
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frameworks
.next
out
.nuxt
dist
.vuepress/dist
.temp
.cache
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Others
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
